/* public/css/styles.css */

body{

    background-color: #111123;
    color: #FFFDFA;

}

/* Styl dla tabelki */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: gray;
}

/* Styl dla nagłówka strony */
h1 {
    font-size: 24px;
    color: cyan;
    margin-bottom: 20px;
}

/* Styl dla linku "Dodaj osobę" */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
