{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuń osobę</h1>

    <p>Czy na pewno chcesz usunąć tę osobę????</p>

    <form method="post">
        <button type="submit" class="btn btn-danger">Usuń</button>
    </form>

    <a href="{{ path('homepage') }}" class="btn btn-secondary">Anuluj!</a>
{% endblock %}
