{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav>

<a href="{{ path('homepage') }}">Strona główna</a>
<a href="{{ path('persons_add') }}">Dodaj osobę</a>

    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <!-- ... -->
</body>
</html>
