{# templates/persons/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista osób</h1>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Płeć</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.sex }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
